
/* Common Style */

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;  
}

img {
    width: 100%;
    height: auto;
}

/* header-area */

.header-area {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;   
}
.header {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: right;
    padding-top: 250px;     
}
h1 {   
    color: #151414;
    font-size: 55px;
}
.header-p {
    padding: 20px 0;
    font-weight: 400;
    color: #444343;
    font-size: 13px;
}
.btn-1 {
    margin-top: 20px;
}
.btn-1 a {      
    background-color: #fc5e03;
    color: #fff;
    padding: 18px 22px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}
.btn-1 a:hover {
    background-color: green;
}

/* feature-area */

.feature {
    padding: 80px 0 0;
}
.about-failure { 
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;   
}
.my-photo, .my-failure {
    width: 40%;
    height: 40%;
}
.my-photo {
    margin: 0 auto;
}
.my-failure {
    margin-top: 200px;
    text-align: left;
}
.failure-detail{
    margin: 20px 0;
    font-weight: 400;
    color: #444343;
    font-size: 14px;
}
li {
    list-style-type: none;
    font-weight: 400;
    color: #444343;
    font-size: 14px;
    margin-bottom: 7px;   
}

/* All-Plans */

.my-plans {
    padding: 80px 0;
}
.plan-area {
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.plan-area h2 {
    font-size: 28px;
    text-align: center;
    padding: 30px 0;
}
.all-plan {
    display: flex;
    justify-content: space-between;
}
.plan {
    width: 23.5%;
    text-align: center;        
}

.plan img {
    width: 80px;
    height: 80px;
}
.plan-title {
    margin: 20px 0;
    font-size: 24px;
}
.plan-detail {
    color: #444343   
}

/* Promotional-Area */

.promotion {
    padding: 80px 100px;   
}
.promotion-area {  
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-image: url('../images/gradient2.png'),url(../images/watch.png);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.promo-text {
    padding: 80px;
    align-items: left;      
}
.promo-title {
    font-size: 24px;
    margin-bottom: 40px;
}
.promo-title h2 {
    color: #fff;
}
.btn-2 {}
.btn-2 a {
    background-color: #fff;
    color: #fc5e03;
    padding: 18px 30px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 400;   
}

/* Contact-Area */

.contact {
    background-color: #151414;
    color: #fff;
    padding: 80px 30px 40px;
}
.contact-details {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    gap: 50%;
}
.detail {
    width: 49%;
    height: auto;
}
.contact-title {
    font-size: 35px;
    margin-bottom: 20px;
}
.detail p{
    font-size: 12px;
    color: gray;
}
.detail p:first-child(1) {}
.detail p:nth-child(2) {
    margin: 15px 0;
}
.detail p:nth-child(3) {
    margin: 15px 0;
}
.contact-icon {
    display: flex;
    margin-top: 15px;    
}
.icon {
    width: 25px;
    height: 25px;
    padding: 0 5px;   
}
.form {
    width: 30%;
}
.form-title {
    margin-bottom: 15px;
}
input[type=email] {
    color: #fff;
    background-color: #151414;
    border: 1px solid gray;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px;
    width: 100%;
}
input[type=submit] {
    margin-top: 10px;
    color:#fc5e03;
    background-color: #fff;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;    
}
.copyright {
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
}